VIRTUAL_ENV_DIR=~/synapse
DOMAIN=matrix.example.com
RIOT_DOMAIN=riot.example.com
EMAIL_ADDRESS=certs@example.com
SYNAPSE_USERNAME=root
SYNAPSE_PASSWORD=someVeryRandom&SecurePassword
JITSI_HOST=jitsi.riot.im